body {
  background-color: rgb(212, 196, 214);
}

.texto-centrado {
  text-align: center;
}

/* comentario en CSS */

h1 {
  border: 2px solid rgb(201, 41, 201);
  box-shadow: 4px 4px 10px red;
}

#parrafo3 {
  color: blue;
}

a:hover {
  color: orange;
}
/* Alt+Shift+a para hacer comentarios en todos los formatos */

img {
  display: block;
  margin: auto;
  max-width: 600px;
  border: 5px solid #fff;
  margin-top: 50px;
}
