* {
    box-sizing: border-box;
    margin: 0;
}

.tableroAjedrez {
    width: 160px;
    height: 160px;
    margin: auto;
}

.blackBox {
    display: inline-block;
    width: 20px;
    height: 20px;
    background-color: black;
}

.whiteBox {
    display: inline-block;
    width: 20px;
    height: 20px;
    background-color: white;
}