@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Manrope;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
}

header h1 {
    font-size: 18px;
}

main {
    max-width: 900px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

main form {
    background-color: #eaeaea;
    border: 1px solid #888;
    padding: 20px;
}